.list-book {
    .book-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;    
        padding: 12px;
        border-bottom: 1px solid #ddd;
        .book-img {
            width: auto;
        }
        .book-title {
            font-size: 18px;
            font-weight: 600;
            margin-bottom: 12px;
        }
        .book-description {

        }
    }
}
/* Điện thoại nhỏ */
  @media screen and (max-width: 575.98px) {
    .book-img {
        height: 100px !important;
    }
  }
  
  /* Điện thoại trung bình */
  @media screen and (min-width: 576px) and (max-width: 767.98px) {
    .book-img {
        height: 100px !important;
    }
  }
  
  /* Tablet */
  @media screen and (min-width: 768px) and (max-width: 991.98px) {
    .book-img {
        height: 100px !important;
    }
  }
  
  /* Laptop nhỏ */
  @media screen and (min-width: 1200px) and (max-width: 1399.98px) {
    .book-img {
        height: 100px !important;
    }
  }
  
  /* Laptop lớn và desktop */
  @media screen and (min-width: 1400px) {
    .book-img {
        height: 100px !important;
    }
  }